@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --square: 85px;
  --border: 2px;
  --calendarWidth: 597px;
  --calendarHeadingWidth: 595px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: #434343;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 100%;
  width: 100%;
}

.center-body {
  background-image: linear-gradient(to right, #73946996, #99949499);
  max-height: 100%;
  margin: 0 10px;
}

.img-container {
  /* margin: 10px auto; */
  /* margin-left: 5px; */
  margin-top: 10px;
  /* max-width: 610px; */
}

.center-content {
  margin: auto;
  min-width: 610px;
  text-align: center;
  /* margin-left: 30%; */
}

.calendar {
  border: 1px solid black;
  width: var(--calendarWidth);
  /* text-align: center; */
  margin: 0px auto;
  overflow-x: auto;
  /* animation: fadeIn 0.5s;
  	opacity: 1; */
}

.calendar-container {
  /* border: 5px solid white;  */
  /* padding: 0 600px */

}

.calendar-border {
  text-align: center;
  border: 5px solid white; 
  min-width: 610px;
  max-width: 610px;
  /* width: 610px; */
  /* margin: 0 0 0 450px; */
  /* float: left; */
}

.calendar-top-row {
  width: var(--calendarHeadingWidth);
  clear: both;
  margin: auto; 
  text-align: center;
}

.day-square {
  background-color: rgb(255, 255, 255);
  max-height: 200px;
  color: black;
  border: var(--border) solid black;
  height: var(--square);
  width: var(--square);
  float: left;
}

.banner-month-year {
  color: white;
  font-size:xx-large;
  /* text-align: center; */
  /* width: 80%; */
  font-weight: bold;
}

.month-last-button {
  float: left;
  font-size: xx-large;
  margin-top: 0.7%;
  margin-left: 1%;
}

.month-next-button {
  float: right;
  font-size: xx-large;
  margin-top: 0.7%;
  margin-right: 1%;

}

.days-row {
  border: 1px solid black;
  width: var(--calendarWidth);
  text-align: center;
  overflow-x: auto;
  margin: 5px auto 0px;
}

.day-label {
  background-color: rgb(49, 70, 72);
  /* max-height: 50px; */
  color: white;
  border: var(--border) solid black;
  /* height: var(--square) / 4; */
  width: var(--square);
  float: left;
}

.square-date {
  text-align: right;
  margin: 2px 10px;
}

.events-button {
  width: 90%;
  background-color: grey;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: -.05px;
}

.fade-in {
	animation: fadeIn .4s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
}

@keyframes fadeOut {
  from {
  	opacity: 1;
  }
}

.fade-out {
	animation: fadeOut .4s;
  	opacity: 0;
}

.slow-fade-out {
	animation: fadeOut 3s;
  	opacity: 0;
}

.modal-size {
  max-width: 50rem;
}

.pop-container {
  /* position: relative;
  width: 50px;
  height: 50px;
  margin-left: 10px; */
  border-radius: 30;
}

.dot {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: grey; 
  border-radius: 50;
  opacity: 1;
  animation: pop 1s infinite;
}
@keyframes pop {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.tab-bar {
  max-width: 10px;
  /* background-color: grey; */
  /* border: 1px solid white; */
  max-height: 50px;
  margin-top: 5px;
}

.tab {
  margin: 5px 0px 0 0px;
  textAlign: center;
  border-radius: 0.5rem 0.5rem 0 0;
  max-height: 40px; 
  max-width: 200px;
  border: 1px solid white;
  /* background-color: grey; */
  color: white;
  font-weight: bold;
  width: 100%;
}

.tab-pressed {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
       box-shadow: inset 0px 0px 5px #c1c1c1;
}

.list-days {
  color: white;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.list-event {
  color: black;
  background-color: white;
  text-align: left;
  margin: 0 20px;
}

.spinner {
  zIndex: 2;
  position: absolute;
  text-align: center;
  margin: 2% 0 0 20%;
}

.list-icons-right {
  float: right;
  margin: 3% 2% 0 2%;
  width: 30%;
  color: black;
}

.map-pin {
  float: left;
  width: 50%;
}

.copy-icon {
  float: right;
  width: 50%;
}

.event-listing {
  border: 3px solid;
  margin-bottom: 1rem;
}

.event-info {
  margin: 0.5rem 4rem 0.5rem 0.5rem;
  width: 60%;
  cursor: pointer; 
}

.place {
  font-weight: bold;
  color: black;
  margin-left: 0.5rem;
}

.time-place {
  margin-left: 1rem;
}

.event-name {
  margin: 0 0 0 5;
  font-size: 20;
  line-height: 10px;
}

.map-pin {
  float: left;
  margin-left: 0px;
  margin-top: 0px;
}

.copy-icon {
  float: right;
  margin-right: 0px;
  margin-top: 0px;
}

.location {
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: -4px;
  color: dark-grey;
}

.address {
  margin-left: 0.5rem;
  font-size: 14px;
  margin-top: -2px;
}

.time {
  margin-left: 0.5rem;
  font-size: 13px;
  margin-top: -2px;
}

.mobile-modal {
  margin: 0px -10px;
}

.mobile-modal-parent {
  margin-right: -15px;
  text-alin: center;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --square: 14.255%;
    --border: 1.5px;
    --calendarWidth: 100%;
    --calendarHeadingWidth: 100%;
  }
  
  /* body {
    background-color: lightgreen;
  } */

  .banner-month-year {
    color: white;
    font-size:xx-large;
    /* text-align: center; */
    width: 100%;
    font-weight: bold;
  }

  .center-content {
    margin: auto;
    min-width: 100%;
    text-align: center;
    /* margin-left: 30%; */
  }

  .calendar {
    border: 1px solid black;
    width: 100%;
    height: var(--calendarWidth);
    /* text-align: center; */
    margin: 0px auto;
    overflow-x: auto;
    /* animation: fadeIn 0.5s;
      opacity: 1; */
  }

  .calendar-border {
    text-align: center;
    width: 100%;
    margin-top: 5px;
    border: 0px solid white; 
    /* min-width: 610px;
    max-width: 610px; 
    width: 610px;
    margin: 0 0 0 450px;
    float: left;   */
  }

  .events-button {
    width: 90%;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: -3px;
    margin-bottom: 2px;
    font-size: 60%;
  }

  .day-square {
    background-color: rgb(255, 255, 255);
    color: black;
    border: var(--border) solid black;
    height: 100%;
    width: var(--square);
    float: left;
    height: 100%;
  }
  .days-row {
    border: 1px solid black;
    width: var(--calendarWidth);
    height: 14.27%;
    /* min-height: var(--calendarWidth); */
    text-align: center;
    overflow-x: auto;
    margin: 5px auto 0px;
  }

  .square-date {
    text-align: right;
    margin: 2px 5px -.5px;
    font-size: 60%;
  }

  .tab-bar {
    max-width: 45%;
    background-color: grey; 
    border: 0px solid white; 
    /* max-height: 100px; */
    margin-top: 10px;
  }

  .tab {
    margin: 5px 1px 0 1px;
    textAlign: center;
    border-radius: 0.5rem 0.5rem 0 0;
    max-height: 40px; 
    max-width: 45%;
    border: 1px solid white;
    /* background-color: grey; */
    color: white;
    font-weight: bold;
  }

  .event-listing {
    border: 1px solid;
    margin-bottom: 0.4rem;
  }

  .event-info {
    margin: 2px 0rem 0.2rem 0px;
    width: 60%;
    cursor: pointer; 
  }

  .place {
    font-weight: bold;
    color: black;
    margin-left: 0.5rem;
    font-size: 12px;
  }
  
  .time-place {
    margin-left: 0.5rem;
    font-size: 11px;
    margin-top: 0px;
  }

  .event-name {
    margin: 8px 0 12px 0;
    font-size: 14px;
    line-height: 14px;
  }

  .map-pin {
    float: left;
    margin-left: -30px;
    margin-top: -0.5px;
  }
  
  .copy-icon {
    float: right;
    margin-right: -2px;
    margin-top: px;
  }

  .location {
    line-height: 12px;
    font-size: 11px;
    margin-bottom: 0px;
    margin-top: -4px;
    color: dark-grey;
  }

  .address {
    margin-left: 0.5rem;
    font-size: 10.5px;
    margin-top: -5px;
  }

  .time {
    margin-left: 0.5rem;
    font-size: 10.5px;
    margin-top: -8px;
  }

  .mobile-modal {
    margin: 0px -10px;
  }

  .mobile-modal-parent {
    margin-right: -15px;
    text-alin: center;
    justify-content: center;
  }
}