.mapContainer {
  width: 100%;
  height: 560px;
}

.map {
  height: 560px;
}

@media screen and (max-width: 650px) {
  .mapContainer {
    height: 100%;
    position: relative;
    padding-top: 125%;
  }

  .map {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    height: 100%;
  }
}